html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.table .thead-primary th {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.form-control {
  font-size: 0.9rem;
}

.form-group label {
  font-weight: 500;
  color: var(--primary);
}

.table .input-group {
  min-width: 150px;
}

#app,
#app>.container-fluid,
#app>.container-fluid>.row {
  height: 100%;
}

.navbar {
  background: linear-gradient(45deg, #7ba8e6, #1D53C4);
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  background: var(--light);
  border-bottom: 1px solid var(--secondary);
}

.nav-link span {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.sidebar {
  height: 100%;
  background: var(--primary);
}

.data-wrapper,
.sidebar-wrapper {
  padding-top: 48px;
}

@media(min-width: 992px) {
  .sidebar-wrapper {
    position: fixed;
    height: 100%;
    bottom: 0;
  }
}

.data-wrapper {
  background-size: 40% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.justify-space-between {
  justify-content: space-between;
}
